# Ignore the /build folder
/build

# Ignore the .dist folder
.dist

# Ignore the .vscode folder
.vscode

# Ignore the cmake-build-debug folder
cmake-build-debug

# Ignore the cmake-build-release folder
cmake-build-release

# Ignore the .idea folder
.idea